<link rel="stylesheet" href="libs/jquery-ui/themes/overcast/jquery-ui.min.css" />
<div class="container" ng-include="'views/head.html'"></div>
<div class="container" ng-controller="MessagesBulkController">

    <ol class="breadcrumb">
        <li><a  href="" back>Go Back</a></li>
        <li class="active">Message Bulk</li>
    </ol>
    <div class="row-fluid vertical-align" style="margin-top: 20px;">

        <div class="col-xs-12 col-sm-9 col-centered">

            <div class="panel panel-custom"  style="background-color: #DEEBF7;">
                <div class="panel-heading">Message Bulk</div>

                <div class="panel-body">

                    <form name="sendForm" ng-submit="send(sendForm.$valid)" novalidate>

                        <div class="form-group">
                            <select  id="selectedJobId"
                                     name="selectedJobId"
                                     ng-model="selectedJobId"
                                     class="form-control"
                                     ng-options="job.id as job.title for job in jobs"
                                     required
                            >
                                <option value="">Select Job</option>
                            </select>
                            <span class="color-theme" ng-show="sendForm.selectedJobId.$error.required">Job is required.</span>
                        </div>

                        <div class="form-group">
                            <select  id="selectedMessageTemplate"
                                     name="selectedMessageTemplate"
                                     ng-model="selectedMessageTemplate"
                                     class="form-control"
                                     ng-change="messageTemplateChanged()"
                                     ng-options="messageTemplate as messageTemplate.name for messageTemplate in messageTemplates">
                                <option value="">Insert Template</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <input type="text" ng-model="newMessage.subject" placeholder="Subject" name="subject" id="subject" class="form-control" required />
                            <span class="color-theme" ng-show="sendForm.subject.$error.required">Subject is required.</span>
                        </div>

                        <div class="form-group">
                            <textarea cols="40" rows="5" ng-model="newMessage.body" placeholder="Message" name="body" id="body" class="form-control" required></textarea>
                            <span class="color-theme" ng-show="sendForm.body.$error.required">Message is required.</span>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary btn-md" type="submit">Send</button>
                            <button ng-click="cancel()" class="btn btn-default btn-md">Cancel</button>
                            <input type="checkbox" ng-model="isSaveTemplate" /> Save Template
                            <input type="text" placeholder="Name Template" class="form-control" ng-model="nameTemplate" style="display: inline;width: 200px;" />
                        </div>

                    </form>

                </div>
            </div>

        </div>
    </div>

</div>