<div class="color-line"></div>
<div class="login-container blank"  ng-controller="ResetPasswordController" >

    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>RESET PASSWORD</h3>
                <small></small>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    <div id="loginForm">

                        <form name="resetPasswordForm" ng-submit="ResetPassword(resetPasswordForm.$valid)" novalidate>

                        <div class="form-group">
                            <label class="control-label" for="usernameOrEmail">Username or E-mail</label>
                            <input type="text" placeholder="Username or Email" title="Please enter your username or email" required value="" name="usernameOrEmail" id="usernameOrEmail" ng-model="usernameOrEmail" class="form-control">
                            <span style="color:#f00;" ng-show="resetPasswordForm.usernameOrEmail.$error.required">Username or Email is required.</span>
                        </div>

                        <div class="form-group">
                           <input type="submit" class="btn btn-success btn-block form-control" value="Reset Password" />
                        </div>

                        <div class="form-group">
                                <div class="alert alert-danger" ng-if="error_Description">
                                    {{error_Description}}
                                </div>
                                <div class="alert alert-success" ng-if="success_Description">
                                    {{success_Description}}
                                </div>
                        </div>

                        <div class="form-group">
                            <a style="width:100px;" class="btn btn-default btn-block" ui-sref="login()">Login</a>
                         </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">

        </div>
    </div>
</div>