<div class="container" ng-include="'views/head.html'"></div>
<div class="container" ng-controller="StartTestScreeningController">

        <div class="row-fluid vertical-align" style="margin-top: 20px;">
            <div class="col-xs-12 col-sm-9 col-centered">

                <div class="panel panel-custom">

                    <div class="panel-body">
                        <div class="alert alert-danger" role="alert" ng-show="error_message">{{error_message}}</div>

                        <p style="text-align: center;">
                            Based on  your resume the client would like you to take answer the following questions – to better assess your technical understanding

                        </p>
                        <br />
                        <p style="color: red;text-align: center;">This is a timed assessment – please allot 30 minutes.  Once you start you cannot pause.  Once you go to the next question you cannot go back
                        </p> <br />
                        <p style="text-align: center;">Assessment Description goes here
                        </p>
                        <button class="btn btn-primary btn-lg pull-right" type="button" ng-click="start()" ng-disabled="isDisabledStart">
                            Start
                        </button>
                    </div>
                </div>

            </div>
        </div>
</div>