<div class="container" ng-include="'views/head.html'"></div>
<div class="container" ng-controller="StartTestJobReferralController">
        <div class="row-fluid vertical-align" style="margin-top: 20px;">
            <div class="col-xs-12 col-sm-9 col-centered">

                <div class="panel panel-custom">

                    <div class="panel-body">
                        <div class="alert alert-danger" role="alert" ng-show="error_message">{{error_message}}</div>

                        <p style="text-align: center;">
                            Thank you for taking the time to complete the reference request. In order to provide our clients with the most accurate assessment of our candidates… your feedback will not be shared with {{userName}}


                        </p>

                        <button class="btn btn-primary btn-lg pull-right" type="button" ng-click="start()" ng-disabled="isDisabledStart">
                            Start
                        </button>
                    </div>
                </div>

            </div>
        </div>
</div>