<div class="inmodal">
    <div class="color-line"></div>
    <div class="modal-header">
        <div style="position:absolute; right: 30px; top: 10px;">
            <a ng-click="onClose()" ><span class="glyphicon close-icon hoverClick" style="font-size: 30px; color: red;">×</span></a>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <p>Thank you for {{typeText}} the job.</p>
                <p>Please Login or Create a Free Account</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                    <div class="form-group">
                        <button class="btn btn-primary  btn-block btn-md" type="button" ng-click="selectType(false)">Create Account</button>
                    </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <button class="btn btn-success  btn-block btn-md" type="button" ng-click="selectType(true)">Login</button>
                </div>
            </div>
        </div>
    </div>
</div>
