<link rel="stylesheet" href="libs/jquery-ui/themes/overcast/jquery-ui.min.css" />
<div class="container" ng-include="'views/head.html'"></div>
<div class="container" ng-controller="TestInterviewController">

        <div class="row-fluid vertical-align" style="margin-top: 20px;">
            <div class="col-xs-12 col-sm-9 col-centered">

                <div class="alert alert-success" role="alert" ng-hide="!successMessage">{{successMessage}}</div>
                <div class="alert alert-danger" role="alert" ng-hide="!errorMessage">{{errorMessage}}</div>

                <form name="resultInterviewForm" ng-submit="saveChanges(resultInterviewForm.$valid)" novalidate>

                    <div class="panel panel-custom">

                        <div class="panel-heading">

                            <div class="pull-left">
                                <h1 class="panel-title">{{interview.title}}</timer></h1>
                            </div>

                            <div class="pull-right">
                               {{interview.questionsCount}} questions
                            </div>

                            <div class="clearfix"></div>

                        </div>

                        <div class="panel-body">

                            <div class="row" ng-repeat="question in interviewQuestions track by $index">
                                <div class="col-md-10 col-md-offset-1">
                                    <p><b>{{$index + 1}}) {{question.text}}</b></p>
                                    <p>{{question.textOptional}}</p>
                                </div>

                                <div class="col-md-10 col-md-offset-1">

                                    <div class="form-group" ng-if="question.type == 'TrueFalse'">

                                        <ul class="list-group" style="background-color: #fff;">
                                            <li class="list-group-item">
                                                <input type="radio" ng-model="$parent.resultQuestions[$parent.$index].answerBool" name="answerBool_{{$parent.$index}}" required value="true"> True
                                            </li>
                                            <li class="list-group-item">
                                                <input type="radio" ng-model="$parent.resultQuestions[$parent.$index].answerBool" name="answerBool_{{$parent.$index}}" required value="false"> False
                                            </li>
                                        </ul>
                                        <input type="hidden"  ng-model="$parent.resultQuestions[$parent.$index].interviewQuestionId" value="{{question.id}}" ng-init="$parent.resultQuestions[$parent.$index].interviewQuestionId=question.id"   />
                                        <span class="color-theme" ng-show="resultInterviewForm.answerBool_{{$parent.$index}}.$error.required">Answer is required.</span>
                                    </div>

                                    <div class="form-group" ng-if="question.type == 'MultipleChoice'">

                                        <ul class="list-group" style="background-color: #fff;">
                                            <li class="list-group-item" ng-repeat="(_key, _option) in $parent.question.options">
                                                <input type="radio" ng-model="$parent.resultQuestions[$parent.$index].answerOption"  name="answerOption_{{$parent.$index}}" required value="{{_key}}"> {{_option}}
                                            </li>
                                        </ul>
                                        <input type="hidden"  ng-model="$parent.resultQuestions[$parent.$index].interviewQuestionId" value="{{question.id}}" ng-init="$parent.resultQuestions[$parent.$index].interviewQuestionId=question.id"   />
                                        <span class="color-theme" ng-show="resultInterviewForm.answerOption_{{$parent.$index}}.$error.required">Answer is required.</span>
                                    </div>

                                    <div class="form-group" ng-if="question.type == 'FillIn'">

<textarea class="form-control" rows="15" ng-model="$parent.resultQuestions[$parent.$index].answerText" name="answerText_{{$parent.$index}}" id="answerText" style="background-color: #fff;" required></textarea>

                                        <span class="color-theme" ng-show="resultInterviewForm.answerText_{{$parent.$index}}.$error.required">Answer Text is required.</span>
                                        <input type="hidden"  ng-model="$parent.resultQuestions[$parent.$index].interviewQuestionId" value="{{question.id}}" ng-init="$parent.resultQuestions[$parent.$index].interviewQuestionId=question.id"   />

                                    </div>

                                    <div class="form-group" ng-if="question.type == 'LikertScale'">


                                        <ul class="list-inline">
                                            <li style="vertical-align: top;">
                                                {{$parent.question.optionsDescriptions["1"]}}
                                            </li>



                                            <li style="max-width:50px;" ng-repeat="(_key, _option) in $parent.question.options">
                                                <input  type="radio" ng-model="$parent.resultQuestions[$parent.$index].answerOption" name="answerOption_{{$parent.$index}}" required value="{{_key}}"><br />{{_option}}
                                            </li>

                                            <li style="vertical-align: top;">
                                                {{$parent.question.optionsDescriptions[$parent.question.options.length]}}
                                            </li>
                                        </ul>




                                        <input type="hidden"  ng-model="$parent.resultQuestions[$parent.$index].interviewQuestionId" value="{{question.id}}" ng-init="$parent.resultQuestions[$parent.$index].interviewQuestionId=question.id"   />
                                        <span class="color-theme" ng-show="resultInterviewForm.answerOption_{{$parent.$index}}.$error.required">Answer is required.</span>
                                    </div>

                                    <hr />
                                </div>

                            </div>


                        </div>

                        <div class="panel-footer" >
                            <div class="pull-right">

                                <button class="btn btn-primary btn-lg " type="submit" alt="Save and exit" title="Save and exit" ng-click="saveAndExit=true">
                                    <span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true" ></span>
                                </button>



                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>

                </form>

            </div>
        </div>
</div>