<div ng-controller="dashboardController">
    <!--[if lt IE 7]>
    <p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Header -->
    <div id="header" ng-include="'head.html'">
    </div>
    <!-- Main Wrapper -->
    <div id="wrapper" style="margin:0; ">
        <br />
        <div id="header" style="margin:0 auto; width:95%;">
            <h3 style="margin: 0;padding: 0.7em 1em 1em 0.8em;">
                Jobs Applied To
            </h3>
        </div>
        <!-- Right sidebar -->
        <!-- Footer-->
        <footer class="footer">
            <span class="pull-right">
                Example text
            </span> Company 2015-2020
        </footer>
    </div>
</div>
