<div class="container" ng-include="'views/head.html'"></div>
<div class="container" ng-controller="CreateReferralQuestionController">
        <ol class="breadcrumb">
            <li><a ui-sref="editreferral({id: id})">Go Back</a></li>
            <li class="active" ng-if="mode == 'edit'">Edit Reference Quesion</li>
            <li class="active" ng-if="mode == 'create'">Create Reference Quesion</li>
        </ol>
        <div class="row-fluid vertical-align" style="margin-top: 20px;">
            <div class="col-xs-12 col-sm-9 col-centered">
                <form name="createQuestionReferralForm" ng-submit="saveChanges(createQuestionReferralForm.$valid)" novalidate>
                <div class="panel panel-custom">
                    <div class="panel-heading" ng-if="mode == 'create'">

                        <div class="pull-left">
                            <h1 class="panel-title">Create Reference Quesion</h1>
                        </div>

                        <div class=" pull-right">
                            # of Questions Created {{questionsCount}}
                        </div>

                        <div class="clearfix"></div>

                    </div>

                    <div class="panel-heading panel-dark" ng-if="mode == 'edit'">

                        <div class="pull-left">
                            <h1 class="panel-title">Edit Reference Quesion</h1>
                        </div>
                        <div class=" pull-right">
                            <button class="btn btn-success btn-lg" type="submit" alt="Save and exit" title="Save and exit" ng-click="$parent.saveAndExit=true">
                                Save Changes
                            </button>
                        </div>
                        <div class="clearfix"></div>

                    </div>

                    <div class="panel-body">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        Create Questions &amp; Answer Key
                                    </div>

                                    <div class="form-group" ng-class="{ 'has-error': createQuestionReferralForm.text.$invalid && createQuestionReferralForm.text.$dirty }">
                                        <label for="text">Question</label>
                                        <input type="text" class="form-control" ng-model="referralQuestion.text" id="text" name="text" placeholder="Enter Question" required />
                                        <span class="color-theme" ng-show="createQuestionReferralForm.text.$error.required">Question is required.</span>
                                    </div>

                                    <div class="form-group">
                                        <label for="textOptional">Question Help</label>
                                        <input type="text" class="form-control" ng-model="referralQuestion.textOptional" id="textOptional" name="textOptional" placeholder="Enter Question Help (Optional)"  />
                                    </div>


                                    <div class="form-group" ng-class="{ 'has-error': createQuestionReferralForm.type.$invalid && createQuestionReferralForm.type.$dirty }">
                                        <label for="type">Question Type</label>
                                        <select
                                                id="type"
                                                name="type"
                                                ng-model="referralQuestion.type"
                                                required
                                                class="form-control"
                                                ng-change="changedQuestionType()"
                                        >
                                            <option value="">Select Question Type</option>
                                            <option ng-repeat="_type in ScreeningQuestionTypes" ng-selected="_type.value==referralQuestion.type" value="{{_type.value}}">{{_type.name}}</option>
                                        </select>
                                        <span class="color-theme" ng-show="createQuestionReferralForm.type.$error.required">Question Type is required.</span>
                                    </div>

                                    <div class="form-group" ng-show="referralQuestion.type == 'MultipleChoice'">
                                             <label for="option">Possible answer</label>

                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="input-group">
                                                     <input class="form-control" ng-model="option" id="option" type="text"  ng-enter="addOption()" placeholder="Enter Possible Answer and press return" />
                                                      <span class="input-group-btn">
                                                        <button class="btn btn-default" type="button" ng-click="addOption()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                                                      </span>
                                                </div>
                                            </div>
                                        </div>



                                    </div>

                                    <div class="form-group" ng-if="referralQuestion.type == 'MultipleChoice' || referralQuestion.type == 'TrueFalse'">
                                        <label for="options">Possible answers</label>
                                        <ul class="list-group" id="options" name="options" style="background-color: #fff;">
                                            <li class="list-group-item" ng-repeat="_option in referralQuestion.options">{{_option}}

                                                <a style="float:right;" href="" ng-click="removeOption($index)"  ng-show="referralQuestion.type == 'MultipleChoice'"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="form-group" ng-if="referralQuestion.type == 'FillIn'">
                                        <label for="answerText">Answer Text</label>
                                        <div  text-angular ng-model="$parent.referralQuestion.answerText" name="answerText" id="answerText" ta-text-editor-class="border-around" ta-html-editor-class="border-around" style="background-color: #fff;">
                                            <p><br /></p>
                                        </div>
                                     </div>

                                    <div class="form-group" ng-if="referralQuestion.type == 'LikertScale'" ng-class="{ 'has-error': createQuestionReferralForm.numOptionsSelected.$invalid && createQuestionReferralForm.numOptionsSelected.$dirty }">
                                        <label for="type">Number of Options </label>

                                        <select id="numOptionsSelected"
                                                name="numOptionsSelected"
                                                ng-model="$parent.numOptionsSelected"
                                                required
                                                class="form-control"
                                                ng-options="c for c in numOptionsLikertScale"
                                                ng-change="changedNumOptionsLikertScale()">
                                            <option value="">Select Number of Options</option>
                                        </select>
                                        <span class="color-theme" ng-show="createQuestionReferralForm.numOptionsSelected.$error.required">Number of Options is required.</span>

                                    </div>
                                    <div class="form-group" ng-if="referralQuestion.type == 'LikertScale' && numOptionsSelected" ng-class="{ 'has-error': createQuestionReferralForm.optionsDescriptions0.$invalid && createQuestionReferralForm.optionsDescriptions0.$dirty }">

                                        <div class="row">
                                            <div class="col-xs-4" style="text-align: right">
                                                {{referralQuestion.options[0]}} =
                                            </div>
                                            <div class="col-xs-8">
                                                <input type="text" ng-model="referralQuestion.optionsDescriptions[1]" id="optionsDescriptions0"  name="optionsDescriptions0" class="form-control" required />
                                                <span class="color-theme" ng-show="createQuestionReferralForm.optionsDescriptions0.$error.required">Optionsis required.</span>
                                            </div>

                                        </div>



                                    </div>
                                    <div class="form-group" ng-if="referralQuestion.type == 'LikertScale' && numOptionsSelected" ng-class="{ 'has-error': createQuestionReferralForm.optionsDescriptionsL.$invalid && createQuestionReferralForm.optionsDescriptionsL.$dirty }">

                                          <div class="row">
                                            <div class="col-xs-4" style="text-align: right">
                                                {{referralQuestion.options[referralQuestion.options.length-1]}} =
                                            </div>
                                            <div class="col-xs-8">
                                                <input type="text" ng-model="referralQuestion.optionsDescriptions[numOptionsSelected]" id="optionsDescriptionsL"  name="optionsDescriptionsL" required class="form-control"  />
                                                <span class="color-theme" ng-show="createQuestionReferralForm.optionsDescriptionsL.$error.required">Option is required.</span>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="form-group" ng-if="referralQuestion.type == 'Grade'" ng-class="{ 'has-error': createQuestionReferralForm.gradeQuestionSubType.$invalid && createQuestionReferralForm.gradeQuestionSubType.$dirty }">
                                        <label for="option">Grade Order</label>

                                        <div class="row">
                                            <div class="col-xs-12">

                                                <select id="gradeQuestionSubType"
                                                        name="gradeQuestionSubType"
                                                        ng-model="referralQuestion.gradeQuestionSubType"
                                                        ng-init="referralQuestion.gradeQuestionSubType = referralQuestion.gradeQuestionSubType || GradeQuestionSubTypes[0].value"
                                                        ng-options="_type.value as _type.name for _type in GradeQuestionSubTypes"
                                                        class="form-control"
                                                        required
                                                        >
                                                </select>

                                                <span class="color-theme" ng-show="createQuestionReferralForm.gradeQuestionSubType.$error.required">Order is required.</span>


                                            </div>
                                        </div>



                                    </div>



                                       <div class="form-group" ng-if="mode == 'edit'">
                                        <label for="sort">Order</label>
                                        <input type="number" min="0" step="1"  ng-model="referralQuestion.sort" class="form-control" id="sort" name="sort" placeholder="Set Order">

                                    </div>

                                </div>
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label for="tags">Tags</label>

                                        <div ng-repeat="referenceTag in referencesTags | filter:{ level: 1, isCategory: true } track by $index">
                                            <select
                                                    id="selectedTag_{{$index}}"
                                                    name="selectedTag_{{$index}}"

                                                    ng-init="referenceTagChilds=getChildsTags(referenceTag)"
                                                    class="form-control"
                                                    ng-model="$parent.referralQuestion.tags[$index]"
                                            >
                                                <option value="">Select {{referenceTag.name}}</option>
                                                <option ng-repeat="_option in referenceTagChilds"
                                                        ng-selected="$parent.referralQuestion.tags.indexOf(_option.parentName+'/'+_option.name)!=-1"
                                                        value="{{_option.parentName}}/{{_option.name}}">
                                                    {{_option.parentName}} / {{_option.name}}
                                                </option>
                                            </select>
                                            <br />
                                        </div>

                                    </div>



                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-md-offset-6 form-group text-right"  ng-if="mode=='create'">

                                    <button class="btn btn-primary btn-lg" type="button"  alt="Cancel and exit" title="Cancel and exit" ng-click="cancel()">
                                        Cancel
                                    </button>

                                    <button class="btn btn-primary btn-lg" type="submit" alt="Save and continue" title="Save and continue" ng-disabled="createQuestionReferralForm.$invalid">
                                        Add New Question
                                    </button>

                                    <button class="btn btn-primary btn-lg" type="submit" alt="Save and exit" title="Save and exit" ng-click="$parent.saveAndExit=true" ng-disabled="createQuestionReferralForm.$invalid">
                                        Save
                                    </button>

                                </div>
                            </div>

                    </div>
                </div>
                </form>
            </div>
        </div>
</div>