<div class="container" ng-include="'views/head.html'"></div>
<div class="container" ng-controller="FinishTestJobReferralController">

    <div class="row-fluid vertical-align" style="margin-top: 20px;">
        <div class="col-xs-12 col-sm-9 col-centered">

            <div class="panel panel-custom">
                <div class="panel-heading">

                    <div class="pull-left">
                        <h1 class="panel-title">{{reference.candidateName}} for {{reference.jobName}}</h1>
                    </div>

                    <div class="pull-right">
                         {{reference.questionsCount}} questions
                    </div>

                    <div class="clearfix"></div>

                </div>
                <div class="panel-body">
                    <p style="text-align: center;">
                        Thank you for finishing the questionnaire!<br />
                        Do you know 1 or 2 other people that might know about {{reference.candidateName}}.  If not just hit &#34;close&#34;.
                    </p>
                    <br />
                    <p style="color: red; text-align: center;">

                    <form name="sendForm" ng-submit="onSave(sendForm.$valid)" novalidate>

                    <div class="row"  ng-hide='!errorMessage'>
                        <div class="form-group col-sm-12">
                                <div class="alert alert-danger" role="alert">{{errorMessage}}</div>
                        </div>
                    </div>

                    <div class="row"  ng-hide='!successMessage'>
                        <div class="form-group col-sm-12">
                            <div class="alert alert-success" role="alert">{{successMessage}}</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-12">
                            <div class="row">
                                <div class="col-xs-3">
                                    <a href="" ng-click="addRecepient()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Recipient</a>
                                    <br />       <br />
                                </div>
                            </div>
                            <div class="row" ng-repeat="emailObject in emailObjects track by $index">
                                <div class="form-group col-xs-1">
                                    <a href="" ng-click="removeRecepient($index)"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a>
                                </div>
                                <div class="form-group col-xs-3">
                                    <input type="text" ng-model="emailObject.firstName" name="firstName_{{$index}}" id="firstName_{{$index}}" placeholder="First Name" class="form-control" required />
                                    <span class="color-theme" ng-show="sendForm.firstName_{{$index}}.$error.required">First Name is required.</span>
                                </div>
                                <div class="form-group col-xs-4">
                                    <input type="text" ng-model="emailObject.lastName" placeholder="Last Name" name="lastName_{{$index}}" id="lastName_{{$index}}" class="form-control" required />
                                    <span class="color-theme" ng-show="sendForm.lastName_{{$index}}.$error.required">First Name is required.</span>
                                </div>
                                <div class="form-group col-xs-4">
                                    <input type="email" ng-model="emailObject.email" placeholder="E-mail" name="email_{{$index}}" id="email_{{$index}}" class="form-control" required />
                                    <span class="color-theme" ng-show="sendForm.email_{{$index}}.$error.required">Email is required.</span>
                                    <span class="color-theme" ng-show="sendForm.email_{{$index}}.$error.email">Not valid email!</span>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group  col-sm-2 col-sm-offset-8"  >
                            <button type="submit" class="btn btn-block btn-success btn-lg " >
                                Send
                            </button>
                        </div>
                        <div class="form-group col-sm-2"  >
                            <button type="button" class="btn btn-block  btn-primary btn-lg" ng-click="close()">
                                Close
                            </button>
                        </div>
                    </div>
                    </form>

                    </p>





                </div>
            </div>

        </div>
    </div>
</div>