<div class="color-line"></div>
<style type="text/css">
    body {
        background-color: #ffffff !important;
    }
</style>

<div class="login-container blank" ng-controller="Login" >
    <div class="row">
        <div class="col-md-12">
            <div class="hpanel">
                <div class="panel-body">
    <tabset justified="true">
        <tab heading="Login" active="tabs[0].active">

            <form name="loginForm" ng-submit="login(loginForm.$valid)" novalidate>

                <div class="row">
                    <div class="form-group col-sm-12">
                        <div class="alert alert-danger" role="alert" ng-hide='!errorLoginDescription'>{{errorLoginDescription}}</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" for="loginDatauserName">Username/Email</label>
                            <input type="text" placeholder="Username/Email" title="Please enter you username/email" required name="loginDatauserName" id="loginDatauserName" ng-model="$parent.$parent.loginData.userName" class="form-control">
                            <span class="color-theme" ng-show="loginForm.loginDatauserName.$error.required">Username/Email is required.</span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" for="loginDatapassword">Password</label>
                            <input type="password" title="Please enter your password" placeholder="Password" required name="loginDatapassword" id="loginDatapassword" ng-model="$parent.$parent.loginData.password" class="form-control">
                            <span class="color-theme" ng-show="loginForm.loginDatapassword.$error.required">Password is required.</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="checkbox">
                            <input type="checkbox" class="i-checks" ng-model="$parent.$parent.loginData.rememberMe"  name="loginDatarememberMe" id="loginDatarememberMe" > Remember Login

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <button class="btn btn-success btn-block" type="submit">Login</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-offset-6 col-sm-6">
                        <a ui-sref="resetpassword">Forgot password?</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 text-center">
                        <hr />
                        <p>Login with Your Social Account</p>
                    </div>
                </div>

            </form>

        </tab>
        <tab heading="Register"  active="tabs[1].active">

            <form name="registerForm" ng-submit="register(registerForm.$valid)" novalidate>

                <div class="row">
                    <div class="form-group col-sm-12">
                        <div class="alert alert-danger" role="alert" ng-hide='!errorRegisterDescription'>{{errorRegisterDescription}}</div>
                        <div class="alert alert-success" role="alert" ng-hide='!successRegisterMessage'>{{successRegisterMessage}}</div>
                    </div>

                    <div class="form-group col-sm-12">

                        <input type="text" placeholder="Username" title="Please enter you username" required name="registerDatauserName" id="registerDatauserName" ng-model="$parent.$parent.registerData.userName" class="form-control">
                        <span class="color-theme" ng-show="registerForm.registerDatauserName.$error.required">Username is required.</span>
                    </div>

                    <div class="form-group col-sm-6">

                        <input type="text"  placeholder="First Name" id="registerDatafirstName" required class="form-control" name="registerDatafirstName"  ng-model="$parent.$parent.registerData.firstName">
                        <span class="color-theme" ng-show="registerForm.registerDatafirstName.$error.required">First Name is required.</span>
                    </div>


                        <div class="form-group col-sm-6">

                            <input type="text"  placeholder="Last Name" id="registerDatalastName" required class="form-control" name="registerDatalastName"  ng-model="$parent.$parent.registerData.lastName">
                            <span class="color-theme" ng-show="registerForm.registerDatalastName.$error.required">Last Name is required.</span>
                        </div>


                    <div class="form-group col-sm-6">

                        <input type="email"  placeholder="Email Address" id="registerDataemail" required class="form-control" name="registerDataemail"  ng-model="$parent.$parent.registerData.email">
                        <span class="color-theme" ng-show="registerForm.registerDataemail.$error.required">Email Address is required.</span>
                        <span class="color-theme" ng-show="registerForm.registerDataemail.$error.email">Not valid Email Address.</span>
                    </div>

                    <div class="form-group col-sm-6">

                        <input type="email"  placeholder="Repeat Email Address" id="registerDataemailRepeat" required class="form-control"  pw-check="registerDataemail" name="registerDataemailRepeat"  ng-model="$parent.$parent.registerData.emailRepeat">
                        <span class="color-theme" ng-show="registerForm.registerDataemailRepeat.$error.required">Repeat Email Address is required.</span>
                        <span class="color-theme" ng-show="registerForm.registerDataemailRepeat.$error.email">Not valid Repeat Email Address.</span>
                        <span class="color-theme" ng-show="registerForm.registerDataemailRepeat.$error.pwmatch"> Email Addresses don't match.</span>
                    </div>

                    <div class="form-group col-sm-6">

                        <input type="password"  placeholder="Password" id="registerDatapassword"  required class="form-control" name="registerDatapassword"  ng-model="$parent.$parent.registerData.password">
                        <span class="color-theme" ng-show="registerForm.registerDatapassword.$error.required">Password is required.</span>

                    </div>

                    <div class="form-group col-sm-6">

                        <input type="password"  placeholder="Password" id="registerDatapasswordRepeat" required class="form-control" pw-check="registerDatapassword" name="registerDatapasswordRepeat"  ng-model="$parent.$parent.registerData.passwordRepeat">
                        <span class="color-theme" ng-show="registerForm.registerDatapasswordRepeat.$error.required">Repeat Password is required.</span>
                        <span class="color-theme" ng-show="registerForm.registerDatapasswordRepeat.$error.pwmatch"> Passwords don't match.</span>
                    </div>

                        <div class="form-group col-sm-offset-6 col-sm-6">
                            <button class="btn btn-success btn-block" type="submit">Register</button>
                        </div>



                        <div class="form-group  col-sm-12 text-center">
                            <hr />
                            <p>Register with Your Social Account                            </p>
                        </div>
                 

                </div>
                <div class="text-center">


                </div>
            </form>

        </tab>
    </tabset>


                    <button class="btn btn-large btn-google-plus btn-block" type="button" data-ng-click="authExternalProvider('Google')"><i class="fa fa-google-plus"></i> | Connect with Google+</button>
                    <button class="btn btn-large btn-facebook btn-block" type="button" data-ng-click="authExternalProvider('Facebook')"><i class="fa fa-facebook"></i> | Connect with Facebook</button>
                    <button class="btn btn-large btn-linkedin btn-block" type="button" data-ng-click="authExternalProvider('LinkedIn')"><i class="fa fa-linkedin"></i> | Connect with LinkedIn</button>
                   <br/>
                    <div class="form-group panel-terms" >
                        Daytal – 2016 <a href="" ng-click="showTerms()">Terms and Conditions</a> | <a href="" ng-click="showPrivacy()">Privacy Policy</a>
                    </div>

                </div>
            </div>
        </div>
    </div>





    </div>

