
<div class="color-line"></div>

<div  ng-controller="SearchResumesController">

 <!-- Header -->
 <nav role="navigation" class="navbar navbar-custom" >
   <div class="navbar-left">
    <ul class="nav navbar-nav no-borders">
     <li>
      <a class="btn btn-default btn-md pull-left" ui-sref="searchjobs" ng-show="isActive('/searchjobs') && !isAdministrator"><span >Find Jobs</span></a>
     </li>
     <li>
      <a class="btn btn-default btn-md pull-left" ui-sref="jobslist" ng-show="isActive('/jobslist') && isAdministrator"><span>Jobs</span></a>
     </li>
     <li>
      <a class="btn btn-default btn-md pull-left" ui-sref="dashboard" ng-show="isActive('/dashboard')"><span>Dashboard</span></a>
     </li>
     <li>
      <a class="btn btn-default btn-md pull-left" ui-sref="searchresumeshome" ng-show="isActive('/searchresumeshome')"><span>Resumes</span></a>
     </li>
     <li>
      <a class="btn btn-default btn-md pull-left" ui-sref="searchresumes" ng-show="isActive('/searchresumes')"><span>Resumes</span></a>
     </li>

    </ul>
   </div>
  <div class="navbar-right">
   <ul ng-show="isAuth" class="nav navbar-nav no-borders">
    <li class="dropdown">
     <a class="dropdown-toggle"   data-toggle="dropdown">
      <i class="pe-7s-keypad"></i>
     </a>
     <div class="dropdown-menu hdropdown bigmenu animated flipInX">
      <table>
       <tbody>
       <tr>
        <td>
         <a ui-sref="dashboard">
          <i class="pe pe-7s-home text-warning"></i>
          <h5>Dashboard</h5>
         </a>
        </td>
        <td ng-hide="isAdministrator">
         <a ui-sref="searchjobs">
          <i class="pe pe-7s-portfolio text-info"></i>
          <h5>Find Jobs</h5>
         </a>
        </td>
        <td ng-show="isAdministrator">
         <a ui-sref="jobslist">
          <i class="pe pe-7s-portfolio text-info"></i>
          <h5>Jobs</h5>
         </a>
        </td>
        <td ng-hide="isAdministrator">
         <a ui-sref="resumes">
          <i class="pe pe-7s-file text-success"></i>
          <h5>Resumes</h5>
         </a>
        </td>
        <td  ng-show="isAdministrator">
         <a  ui-sref="searchresumeshome">
          <i class="pe pe-7s-file text-success"></i>
          <h5>Resumes</h5>
         </a>
        </td>
       </tr>
       <tr>
        <td ng-show="isAdministrator">
         <a ui-sref="screenings">
          <i class="pe pe-7s-light text-danger"></i>
          <h5>Screening</h5>
         </a>
        </td>
        <td ng-show="isAdministrator">
         <a ui-sref="referrals">
          <i class="pe pe-7s-users text-warning"></i>
          <h5>References</h5>
         </a>
        </td>
        <td ng-show="isAdministrator">
         <a ui-sref="interviews">
          <i class="icon-inerview"></i>
          <h5>Interview</h5>
         </a>
        </td>
       </tr>
       <tr>
        <td ng-show="isAdministrator">
         <a ui-sref="clients">
          <i class="icon-client"></i>
          <h5>Admin</h5>
         </a>
        </td>
        <td ng-show="isAdministrator">
         <a ui-sref="bulkemails">
          <i class="icon-bulk-email"></i>
          <h5>Bulk Email</h5>
         </a>
        </td>
       </tr>


       </tbody>
      </table>
     </div>
    </li>

    <li class="dropdown">
     <a ng-show="isAuth" ui-sref="logout" id="cmd_Logout">
      <i class="pe-7s-upload pe-rotate-90"></i>
     </a>
    </li>
   </ul>

   <ul ng-hide="isAuth" class="nav navbar-nav no-borders">
    <li class="dropdown">
     <a ui-sref="login" id="cmd_Logout">
      <i class="pe-7s-upload pe-rotate-270"></i>
     </a>
    </li>
   </ul>
  </div>

  <div class="navbar-center">
   <form class="searchresumeform navbar-form" role="search">
    <div class="form-group ">
     <button class="btn btn-info btn-primary btn-block" id="resumes_filter">Filter</button>
    </div>
    <div class="form-group ">
     <input type="text" class="form-control searchResumesText" id="searchText" ng-model="searchText" ng-enter="search()" placeholder="Search text" />
    </div>
    <div class="form-group ">
     <button class="btn btn-success  btn-block" ng-click="search()">Search</button>
    </div>
   </form>
   </div>


   <div class="row resumes_parameters_panel col-md-12 col-lg-12" >

    <div style="width: auto;height: 200px;">
     In developing
    </div>


   </div>
  </nav>






 <div class="row">
  <div ng-show="!resumes.length" class="col-lg-12" style="">
   <h1>No found resumes </h1>
  </div>
 </div>

 <div class="row">
  <br />
  <div class="col-lg-6" ng-repeat="data in resumes"  >
   <div class="panel panel-default">
    <div class="panel-heading">

        <h3 class="panel-title pull-left"><a href="" ng-click="detailViewShow(data)">{{data.firstName}} {{data.lastName}}</a></h3>
        <i class="fa fa-file-pdf-o pull-right fa-lg"></i>

        <div class="media pull-right">
                                           <span class="pull-left">
                                               <img class="media-object" src="http://ec2-52-87-162-38.compute-1.amazonaws.com:82/images/book.png" >
                                               <span class="badge pull-right">{{data.totalPages}}</span>
                                           </span>
        </div>

     <div class="clearfix"></div>
    </div>
    <div class="panel-body resumecrop"  ng-bind-html="data.body | trustedHtml | limitHightlightHtml:100"></div>
    <div class="panel-footer">Date:{{data.applyDate*1000 | date : "M/d/yyyy"}}</div>
   </div>
  </div>
 </div>

  <div class="row">
   <div ng-show="totalItems>0" class="col-lg-12" style="">
    <pagination total-items="totalItems"  ng-change="pageChanged()" ng-model="currentPage" max-size="maxSize" class="pagination-small" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></pagination>
   </div>
  </div>





</div>
<br />
<script  type="text/javascript" src="resumes.js"></script>