<div class="inmodal">
    <div class="color-line"></div>
    <div class="modal-header">
        <div class="pull-left">
            {{resume.firstName}} {{resume.lastName}}
        </div>

        <div class="pull-right">
            <a ng-click="onClose()">
                <span class="glyphicon close-icon hoverClick" style="margin-top:-4px; font-size: 30px; color: red;">×</span></a>
        </div>

        <div class="pull-right">
            {{job.title}}
        </div>
    </div>
    <div class="modal-body">

        <div class="alert alert-success" role="alert" ng-show="successMessage">Successfully notified!</div>
        <div class="alert alert-danger" role="alert" ng-show="errorMessage">Error occured</div>
        <div class="row">
            <div class="col-md-4">
                <label>References Sent</label>
                <select multiple disabled id="referencesTaken" name="referencesTaken" ng-model="referencesTaken" class="form-control" >
                    <option ng-repeat="reference in referencesTaken" value="{{reference.id}}">{{reference.title}}</option>
                </select>
            </div>
            <div class="col-md-4">
                <label>References To Send</label>
                <select multiple id="referencesToTake" name="referencesToTake" ng-model="referencesToTakeSelected" class="form-control" required >
                    <option ng-repeat="reference in referencesToTake" value="{{reference.id}}">{{reference.title}}</option>
                </select>
            </div>
            <div class="col-md-4">
                <label>All References</label>
                <select multiple disabled id="referencesAll" name="referencesAll" ng-model="referencesAll" class="form-control" >
                    <option ng-repeat="reference in referencesAll" value="{{reference.id}}">{{reference.title}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-right m-t-xs">
            <button ng-click="notify()" class="btn btn-success" ng-disabled="referencesToTakeSelected.length == 0">Notify Candidate</button>
            <button ng-click="onClose()" class="btn btn-primary">Close</button>
        </div>
    </div>
</div>
