<div class="container" ng-include="'views/head.html'"></div>
<div class="container" ng-controller="TestJobReferralController">

        <div class="row-fluid vertical-align" style="margin-top: 20px;">
            <div class="col-xs-12 col-sm-9 col-centered">

                <div class="alert alert-success" role="alert" ng-hide="!successMessage">{{successMessage}}</div>
                <div class="alert alert-danger" role="alert" ng-hide="!errorMessage">{{errorMessage}}</div>

                <form name="resultScreeningForm" ng-submit="saveChanges(resultScreeningForm.$valid)" novalidate>

                    <div class="panel panel-custom">

                        <div class="panel-heading">

                            <div class="pull-left">
                                <h1 class="panel-title">{{reference.candidateName}} for {{reference.jobName}}</h1>
                            </div>

                            <div class="pull-right">
                              Question  {{currentIndexQuestion+ 1}} of {{reference.questionsCount}} questions
                            </div>

                            <div class="clearfix"></div>

                        </div>

                        <div class="panel-body">

                            <div class="row">

                                <div class="col-md-10 col-md-offset-1">

                                    <div class="help-tip" style="position: absolute; top: 0;right: 0;" ng-show="question.textOptional">
                                        <p>{{question.textOptional}}</p>
                                    </div>
                                    <p>
                                        <b>{{question.text}} </b>
                                    </p>

                                </div>

                                <div class="col-md-10 col-md-offset-1">

                                    <div class="form-group" ng-if="question.type == 'TrueFalse'">

                                        <ul class="list-group" style="background-color: #fff;">
                                            <li class="list-group-item">
                                                <input type="radio" ng-model="$parent.resultQuestions[$parent.currentIndexQuestion].answerBool" name="answerBool_{{$parent.currentIndexQuestion}}" required value="true"> True
                                            </li>
                                            <li class="list-group-item">
                                                <input type="radio" ng-model="$parent.resultQuestions[$parent.currentIndexQuestion].answerBool" name="answerBool_{{$parent.currentIndexQuestion}}" required value="false"> False
                                            </li>
                                        </ul>
                                        <input type="hidden"  ng-model="$parent.resultQuestions[$parent.currentIndexQuestion].referenceQuestionId" value="{{question.id}}" ng-init="$parent.resultQuestions[$parent.currentIndexQuestion].referenceQuestionId=question.id"   />
                                        <span class="color-theme" ng-show="resultScreeningForm.answerBool_{{$parent.currentIndexQuestion}}.$error.required">Answer is required.</span>
                                    </div>

                                    <div class="form-group" ng-if="question.type == 'MultipleChoice'">

                                        <ul class="list-group" style="background-color: #fff;">
                                            <li class="list-group-item" ng-repeat="(_key, _option) in $parent.question.options">
                                                <input type="radio" ng-model="$parent.resultQuestions[$parent.currentIndexQuestion].answerOption"  name="answerOption_{{$parent.currentIndexQuestion}}" required value="{{_key}}"> {{_option}}
                                            </li>
                                        </ul>
                                        <input type="hidden"  ng-model="$parent.resultQuestions[$parent.currentIndexQuestion].referenceQuestionId" value="{{question.id}}" ng-init="$parent.resultQuestions[$parent.currentIndexQuestion].referenceQuestionId=question.id"   />
                                        <span class="color-theme" ng-show="resultScreeningForm.answerOption_{{$parent.currentIndexQuestion}}.$error.required">Answer is required.</span>
                                    </div>

                                    <div class="form-group" ng-if="question.type == 'FillIn'">

<textarea class="form-control" rows="15" ng-model="$parent.resultQuestions[$parent.currentIndexQuestion].answerText" name="answerText_{{$parent.currentIndexQuestion}}" id="answerText" style="background-color: #fff;" required></textarea>

                                        <span class="color-theme" ng-show="resultScreeningForm.answerText_{{$parent.currentIndexQuestion}}.$error.required">Answer Text is required.</span>
                                        <input type="hidden"  ng-model="$parent.resultQuestions[$parent.currentIndexQuestion].referenceQuestionId" value="{{question.id}}" ng-init="$parent.resultQuestions[$parent.currentIndexQuestion].referenceQuestionId=question.id"   />

                                    </div>

                                    <div class="form-group" ng-if="question.type == 'LikertScale'">


                                        <ul class="list-inline">
                                            <li style="vertical-align: top;">
                                                {{$parent.question.optionsDescriptions["1"]}}
                                            </li>



                                            <li style="max-width:50px;" ng-repeat="(_key, _option) in $parent.question.options">
                                                <input  type="radio" ng-model="$parent.resultQuestions[$parent.currentIndexQuestion].answerOption" name="answerOption_{{$parent.currentIndexQuestion}}" required value="{{_key}}"><br />{{_option}}
                                            </li>

                                            <li style="vertical-align: top;">
                                                {{$parent.question.optionsDescriptions[$parent.question.options.length]}}
                                            </li>
                                        </ul>




                                        <input type="hidden"  ng-model="$parent.resultQuestions[$parent.currentIndexQuestion].referenceQuestionId" value="{{question.id}}" ng-init="$parent.resultQuestions[$parent.currentIndexQuestion].referenceQuestionId=question.id"   />
                                        <span class="color-theme" ng-show="resultScreeningForm.answerOption_{{$parent.currentIndexQuestion}}.$error.required">Answer is required.</span>
                                    </div>

                                    <div class="form-group" ng-if="question.type == 'Grade'" >
                                        <rzslider rz-slider-model="$parent.resultQuestions[$parent.currentIndexQuestion].answerOption"
                                                  rz-slider-options="slider.options"
                                                  ng-init="$parent.resultQuestions[$parent.currentIndexQuestion].answerOption = ($parent.resultQuestions[$parent.currentIndexQuestion].answerOption == null)?$parent.slider.value:$parent.resultQuestions[$parent.currentIndexQuestion].answerOption;"

                                        ></rzslider>
                                        <span class="strongLabel">Strongly Agree</span>
                                        <input type="hidden"  ng-model="$parent.resultQuestions[$parent.currentIndexQuestion].referenceQuestionId" value="{{question.id}}" ng-init="$parent.resultQuestions[$parent.currentIndexQuestion].referenceQuestionId=question.id"   />
<div>
   How much do you agree?

</div>
                                    </div>

                                    <hr />
                                </div>

                            </div>


                        </div>

                        <div class="panel-footer" >
                            <div class="pull-right">



                                <button class="btn btn-primary btn-lg " type="submit" alt="Previous questions" title="Previous questions" ng-click="state='previous'" ng-hide="currentIndexQuestion == 0">
                                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                                </button>

                                <button class="btn btn-primary btn-lg " type="submit" alt="Next question" title="Next question" ng-click="state='next'" ng-hide="currentIndexQuestion == reference.questionsCount-1">
                                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                                </button>

                                <button class="btn btn-primary btn-lg " type="submit" alt="Save and exit" title="Save and exit" ng-click="state='save'" ng-show="currentIndexQuestion == reference.questionsCount-1">
                                    <span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true" ></span>
                                </button>

                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>

                </form>

            </div>
        </div>
</div>