<div class="inmodal">
    <div class="color-line"></div>
    <div class="modal-header text-center">
        <div class="text-center m-b-md ">
            <div class="btn-group" role="group">
                <a ng-click="wizard.show(1)" class="btn" ng-class="{ 'btn-primary': step == 1, 'btn-default': step != 1}" ng-disabled="step == 3">Upload Resume</a>
                <a ng-click="wizard.show(2)" class="btn" ng-class="{ 'btn-primary': step == 2, 'btn-default': step != 2}" ng-disabled="step == 1 || step == 3 ">Verify</a>
                <a ng-click="wizard.show(3)" class="btn" ng-class="{ 'btn-primary': step == 3, 'btn-default': step != 3}" ng-disabled="step == 1 || step == 2 ">Submitted</a>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div ng-show="step == 1" class="p-m">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="form-group">
                            <label for="exampleInputFile">Upload Resume</label>
                            <input type="file" file-model="myFile" custom-on-change="uploadFile" />
                            <!--<button ng-click="uploadFile()">upload me</button>-->
                        </div>
                        <div>
                            <label>
                                <input icheck type="checkbox" ng-model="includeCoverLetter"> Include Cover Letter </label>
                        </div>
                        <textarea class="form-control" rows="5" id="comment2" ng-model="coverLetterNote" ng-disabled="!includeCoverLetter"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="step == 2" class="p-m">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label class="col-sm-2 control-label">First Name</label>
                            <div class="col-sm-10">
                                <input type="" value="" id="" class="form-control" ng-model="accountFirstName">
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <label class="col-sm-2 control-label">Last Name</label>
                            <div class="col-sm-10">
                                <input type="" value="" id="" class="form-control" ng-model="accountLastName">
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <label class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                                <input type="" value="" id="" class="form-control" ng-model="accountEmail">
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <div>
                                <label>
                                    <input icheck type="checkbox" ng-model="includeCoverLetter"> Include Cover Letter </label>
                            </div>
                            <textarea class="form-control" rows="5" id="comment" ng-model="coverLetterNote" ng-disabled="!includeCoverLetter"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="step == 3">
            <div class="row text-center m-t-lg m-b-lg">
                <div class="col-lg-12">
                    <i class="pe-7s-check fa-5x text-muted"></i>
                    <p class="small m-t-md center">
                        <strong>Job Applied Successfully</strong>
                        <span>Applied Date : {{ jobAppliedDate*1000 | date : "M/d/yyyy" }}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-right m-t-xs">
            <button ng-click="wizard.next()" ng-show="step == 1" class="btn btn-primary"  ng-disabled="!resumeFileUrl">Continue</button>
            <button ng-click="wizard.prev()" ng-show="step == 2" class="btn btn-primary">Back</button>
            <button ng-click="onSubmit()" ng-show="step == 2" class="btn btn-primary">Submit</button>
            <button ng-click="onClose()" ng-show="step == 3" class="btn btn-primary">Close</button>
        </div>
    </div>
</div>
