<link rel="stylesheet" href="libs/jquery-ui/themes/overcast/jquery-ui.min.css" />
<div ng-controller="CreateScreeningQuestionController">
    <div class="container">
        <div class="container" ng-include="'views/head.html'"></div>
        <ol class="breadcrumb">
            <li><a  ng-click="$back()">Go Back</a></li>
            <li class="active" ng-if="mode == 'edit'">Edit Screening Quesion</li>
            <li class="active" ng-if="mode == 'create'">Create Screening Quesion</li>
        </ol>
        <div class="row-fluid vertical-align" style="margin-top: 20px;">
            <div class="col-xs-12 col-sm-9 col-centered">
                <form name="createQuestionScreeningForm" ng-submit="saveChanges(createQuestionScreeningForm.$valid)" novalidate>
                <div class="panel panel-custom">

                    <div class="panel-heading" ng-if="mode == 'create'">

                        <div class="pull-left">
                            <h1 class="panel-title">Create Screening Quesion</h1>
                        </div>

                        <div class=" pull-right">
                            # of Questions Created {{questionsCount}}
                        </div>

                        <div class="clearfix"></div>

                    </div>

                    <div class="panel-heading panel-dark" ng-if="mode == 'edit'">

                        <div class="pull-left">
                            <h1 class="panel-title">Edit Screening Quesion</h1>
                        </div>
                        <div class=" pull-right">
                            <button class="btn btn-success btn-lg" type="submit" alt="Save and exit" title="Save and exit" ng-click="$parent.saveAndExit=true">
                                Save Changes
                            </button>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                    <div class="panel-body">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" ng-if="mode == 'create'">
                                        Create Questions &amp; Answer Key
                                    </div>
                                    <div class="form-group" ng-if="mode == 'edit'">
                                        Edit Question &amp; Answer Key
                                    </div>
                                    <div class="form-group">
                                        <label for="text">Question</label>
                                        <input type="text" class="form-control" ng-model="screeningQuestion.text" id="text" name="text" placeholder="Enter Question" required />
                                        <span class="color-theme" ng-show="createQuestionScreeningForm.text.$error.required">Question is required.</span>
                                    </div>

                                    <div class="form-group">
                                        <label for="textOptional">Question Help</label>
                                        <input type="text" class="form-control" ng-model="screeningQuestion.textOptional" id="textOptional" name="textOptional" placeholder="Enter Question Help (Optional)"  />
                                    </div>


                                    <div class="form-group" ng-show="screeningQuestion.type == 'MultipleChoice'">
                                             <label for="option">Possible answer</label>

                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="input-group">
                                                     <input class="form-control" ng-model="option" id="option" type="text"  ng-enter="addOption()" placeholder="Enter Possible Answer and press return" />
                                                      <span class="input-group-btn">
                                                        <button class="btn btn-default" type="button" ng-click="addOption()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                                                      </span>
                                                </div>
                                            </div>
                                        </div>



                                    </div>

                                    <div class="form-group" ng-if="screeningQuestion.type == 'MultipleChoice' || screeningQuestion.type == 'TrueFalse'">
                                        <label for="options">Possible answers</label>
                                        <ul class="list-group" id="options" name="options" style="background-color: #fff;">
                                            <li class="list-group-item" ng-repeat="_option in screeningQuestion.options">{{_option}}

                                                <a style="float:right;" href="" ng-click="removeOption($index)"  ng-show="screeningQuestion.type == 'MultipleChoice'"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="form-group" ng-if="screeningQuestion.type == 'FillIn'">
                                        <label for="answerText">Answer Text</label>
                                        <div  text-angular ng-model="$parent.screeningQuestion.answerText" name="answerText" id="answerText" ta-text-editor-class="border-around" ta-html-editor-class="border-around" style="background-color: #fff;"></div>
                                    </div>

                                    <div class="form-group" ng-if="screeningQuestion.type == 'LikertScale'">
                                        <label for="type">Number of Options </label>

                                        <select id="numOptionsSelected"
                                                name="numOptionsSelected"
                                                ng-model="$parent.numOptionsSelected"
                                                required
                                                class="form-control"
                                                ng-options="c for c in numOptionsLikertScale"
                                                ng-change="changedNumOptionsLikertScale()">
                                            <option value="">Select Number of Options</option>
                                        </select>
                                        <span class="color-theme" ng-show="createQuestionScreeningForm.numOptionsSelected.$error.required">Number of Options is required.</span>

                                    </div>
                                    <div class="form-group" ng-if="screeningQuestion.type == 'LikertScale' && numOptionsSelected">

                                        <div class="row">
                                            <div class="col-xs-4" style="text-align: right">
                                                {{screeningQuestion.options[0]}} =
                                            </div>
                                            <div class="col-xs-8">
                                                <input type="text" ng-model="screeningQuestion.optionsDescriptions[1]" id="optionsDescriptions0"  name="optionsDescriptions0" class="form-control" required />
                                                <span class="color-theme" ng-show="createQuestionScreeningForm.optionsDescriptions0.$error.required">Optionsis required.</span>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-xs-4" style="text-align: right">
                                                {{screeningQuestion.options[screeningQuestion.options.length-1]}} =
                                            </div>
                                            <div class="col-xs-8">
                                                 <input type="text" ng-model="screeningQuestion.optionsDescriptions[numOptionsSelected]" id="optionsDescriptionsL"  name="optionsDescriptionsL" required class="form-control"  />
                                                <span class="color-theme" ng-show="createQuestionScreeningForm.optionsDescriptionsL.$error.required">Option is required.</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="type">Question Type</label>
                                        <select
                                                id="type"
                                                name="type"
                                                ng-model="screeningQuestion.type"
                                                required
                                                class="form-control"
                                                ng-change="changedQuestionType()"
                                        >
                                            <option value="">Select Question Type</option>
                                            <option ng-repeat="_type in ScreeningQuestionTypes" ng-selected="_type.value==screeningQuestion.type" value="{{_type.value}}">{{_type.name}}</option>
                                        </select>
                                        <span class="color-theme" ng-show="createQuestionScreeningForm.type.$error.required">Question Type is required.</span>
                                    </div>

                                    <div class="form-group" ng-if="screeningQuestion.type == 'MultipleChoice' || screeningQuestion.type == 'TrueFalse'">
                                        <label for="selectedOption">Correct Answer</label>

                                        <select  id="selectedOption"
                                                 name="selectedOption"
                                                 required
                                                 class="form-control"
                                                ng-model="$parent.selectedOption"
                                                ng-options="idx as _option for (idx, _option) in $parent.screeningQuestion.options">
                                            <option value="">Select correct answer</option>
                                        </select>
                                        <span id="helpBlock" class="help-block">Please, fill out possible answers and select correct answer</span>
                                        <!--<select-->
                                                <!--id="selectedOption"-->
                                                <!--name="selectedOption"-->
                                                <!--ng-model="selectedOption"-->
                                                <!--required-->
                                                <!--class="form-control"-->
                                        <!--&gt;-->
                                            <!--<option value="">Select Correct Answer</option>-->
                                            <!--<option ng-repeat="_option in options" ng-selected="_option==selectedOption" value="{{_option}}">{{_option}}</option>-->
                                        <!--</select>-->
                                        <span class="color-theme" ng-show="createQuestionScreeningForm.selectedOption.$error.required">Correct Answer Type is required.</span>
                                    </div>

                                    <div class="form-group">
                                        <label for="tags">Tags</label>
                                        <input class="form-control" style="width:70%;float:right;" ng-model="tag" id="tags" type="text"  ng-enter="addtags()"><a href="" ng-click="addtags()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                                        <br>
                                        <br>

                                        <ul class="list-group">
                                            <li class="list-group-item" ng-repeat="tagname in screeningQuestion.tags">{{ tagname }}<a style="float:right;" href="" ng-click="removetag($index)"  ><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a></li>
                                        </ul>
                                    </div>
                                    <div class="form-group" ng-if="mode == 'edit'">
                                        <label for="sort">Order</label>
                                        <input type="number" min="0" step="1"  ng-model="screeningQuestion.sort" class="form-control" id="sort" name="sort" placeholder="Set Order">

                                    </div>


                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-md-offset-6 form-group text-right"  ng-if="mode=='create'">

                                    <button class="btn btn-primary btn-lg" type="button"  alt="Cancel and exit" title="Cancel and exit" ng-click="cancel()">
                                        Cancel
                                    </button>

                                    <button class="btn btn-primary btn-lg" type="submit" alt="Save and continue" title="Save and continue" >
                                        Add New Question
                                    </button>

                                    <button class="btn btn-primary btn-lg" type="submit" alt="Save and exit" title="Save and exit" ng-click="$parent.saveAndExit=true" >
                                        Save
                                    </button>

                                </div>
                            </div>

                    </div>

                </div>
                </form>
            </div>
        </div>
    </div>
</div>