<div class="inmodal">
    <div class="color-line"></div>
    <div class="modal-header">
        <div style="position:absolute; right: 30px; top: 10px;">
            <a ng-click="onClose()" ><span class="glyphicon close-icon hoverClick" style="font-size: 30px; color: red;">×</span></a>
        </div>

        <div class="pull-left">
            {{user.lastName}}&nbsp;{{user.firstName}}
        </div>

    </div>
    <form name="resumeForm" ng-submit="saveChanges(resumeForm.$valid)" novalidate>
        <div class="modal-body">
            <div class="alert alert-danger" role="alert" ng-hide='!message'>{{message}}</div>

            <div class="row">


                <div class="col-md-6">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" ng-model="resume.title" id="title" name="title" placeholder="Enter Title" required />
                        <span class="color-theme" ng-show="resumeForm.title.$error.required">Title is required.</span>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <div  text-angular ng-model="resume.description" name="description" id="description" ta-text-editor-class="border-around" ta-html-editor-class="border-around" style="background-color: #fff;" required></div>
                        <span class="color-theme" ng-show="resumeForm.description.$error.required">Description is required.</span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="tags">Tags</label> <br>
                        <input class="form-control" style="width:90%;float:right;" ng-model="tag" id="tags" type="text"  ng-enter="addtags()"><a href="" ng-click="addtags()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                        <br>
                        <br>

                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="tagname in resume.tags">{{ tagname }}<a style="float:right;" href="" ng-click="removetag($index)"  ><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a></li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label ng-show="resume.originalFilename">Uploaded Resume File Name:&nbsp;{{resume.originalFilename}}</label>
                        <br />
                        <label for="exampleInputFile">save/upload</label>
                        <input type="file" id="exampleInputFile" file-model="myFile" custom-on-change="uploadFile" accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                        <progressbar class="progress-striped active" max="100" value="100" type="info" ng-show="loading">Loading...Please wait.</progressbar>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <div class="text-right m-t-xs">
                <button type="submit" class="btn btn-success">Upload Resume</button>
            </div>
        </div>
    </form>
</div>




</div>
