
<div class="color-line"></div>
<nav role="navigation" ng-controller="HeaderController">
<div class="navbar-left">
        <ul class="nav navbar-nav no-borders">
            <li>
                <a class="btn btn-default btn-md pull-left" ui-sref="searchjobs" ng-show="isActive('/searchjobs') && !isAdministrator"><span >Find Jobs</span></a>
            </li>
            <li>
                <a class="btn btn-default btn-md pull-left" ui-sref="jobslist" ng-show="isActive('/jobslist') && isAdministrator"><span>Jobs</span></a>
            </li>
            <li>
                <a class="btn btn-default btn-md pull-left" ui-sref="dashboard" ng-show="isActive('/dashboard')"><span>Dashboard</span></a>
            </li>
            <li>
                <a class="btn btn-default btn-md pull-left" ui-sref="searchresumeshome" ng-show="isActive('/searchresumeshome')"><span>Resumes</span></a>
            </li>
            <li>
                <a class="btn btn-default btn-md pull-left" ui-sref="searchresumes" ng-show="isActive('/searchresumes')"><span>Resumes</span></a>
            </li>
            <!--<li>-->
                <!--<a class="btn btn-default btn-md pull-left" ui-sref="resumes" ng-show="isActive('/resumes')"><span>Resumes</span></a>-->
            <!--</li>-->
        </ul>
</div>

<div class="navbar-right">
        <ul ng-show="isAuth" class="nav navbar-nav no-borders">
            <li class="dropdown">
                <a class="dropdown-toggle"   data-toggle="dropdown">
                    <i class="pe-7s-keypad"></i>
                </a>
                <div class="dropdown-menu hdropdown bigmenu animated flipInX">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <a ui-sref="dashboard">
                                        <i class="pe pe-7s-home text-warning"></i>
                                        <h5>Dashboard</h5>
                                    </a>
                                </td>
                                <td ng-hide="isAdministrator">
                                    <a ui-sref="searchjobs">
                                        <i class="pe pe-7s-portfolio text-info"></i>
                                        <h5>Find Jobs</h5>
                                    </a>
                                </td>
                                <td ng-show="isAdministrator">
                                    <a ui-sref="jobslist">
                                        <i class="pe pe-7s-portfolio text-info"></i>
                                        <h5>Jobs</h5>
                                    </a>
                                </td>
                                <!--<td ng-hide="isAdministrator">-->
                                    <!--<a ui-sref="resumes">-->
                                        <!--<i class="pe pe-7s-file text-success"></i>-->
                                        <!--<h5>Resumes</h5>-->
                                    <!--</a>-->
                                <!--</td>-->
                                <td  ng-show="isAdministrator">
                                    <a  ui-sref="searchresumeshome">
                                        <i class="pe pe-7s-file text-success"></i>
                                        <h5>Resumes</h5>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td ng-show="isAdministrator">
                                    <a ui-sref="screenings">
                                        <i class="pe pe-7s-light text-danger"></i>
                                        <h5>Screening</h5>
                                    </a>
                                </td>
                                <td ng-show="isAdministrator">
                                    <a ui-sref="referrals">
                                        <i class="pe pe-7s-users text-warning"></i>
                                        <h5>Referrals</h5>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>

            <li class="dropdown"> 
                <a ng-show="isAuth" ui-sref="logout" id="cmd_Logout">
                    <i class="pe-7s-upload pe-rotate-90"></i>
                </a> 
            </li>
        </ul>

        <ul ng-hide="isAuth" class="nav navbar-nav no-borders">
            <li class="dropdown">  
                <a ui-sref="login" id="cmd_Logout">
                    <i class="pe-7s-upload pe-rotate-270"></i>
                </a>
            </li>
        </ul>
    </div>

</nav>