
<div class="color-line"></div>

<nav class="navbar navbar-default" ng-controller="HeaderController" style="margin-bottom: 0px;">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <ul class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >

            <ul class="nav navbar-nav">
                <li ng-show="isActive('/searchjobs') && !isAdministrator" class="active">
                    <a ui-sref="searchjobs" ><span >Find Jobs</span></a>
                </li>
                <li ng-show="isActive('/jobslist') && isAdministrator" class="active">
                    <a  ui-sref="jobslist" ><span>Jobs</span></a>
                </li>
                <li ng-show="isActive('/dashboard')" class="active">
                    <a ui-sref="dashboard"><span>Dashboard</span></a>
                </li>
                <li ng-show="isActive('/searchresumeshome')" class="active">
                    <a  ui-sref="searchresumeshome"><span>Resumes</span></a>
                </li>
                <li ng-show="isActive('/searchresumes')" class="active">
                    <a  ui-sref="searchresumes"><span>Resumes</span></a>
                </li>
                <li ng-show="isActive('/resumes')" class="active">
                    <a  ui-sref="resumes"><span>Resumes</span></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown" ng-show="isAuth" >
                        <a class="dropdown-toggle right-button"  data-toggle="dropdown" role="button" aria-haspopup="true"  aria-expanded="false">
                            <i class="pe-7s-keypad"></i>
                        </a>
                        <div class="dropdown-menu hdropdown bigmenu animated flipInX">
                            <div class="row" ng-hide="isAdministrator">
                                    <div class="col-sm-4">
                                        <a ui-sref="dashboard">
                                            <i class="pe pe-7s-home text-warning"></i>
                                            <h5>Dashboard</h5>
                                        </a>
                                    </div>
                                    <div class="col-sm-4">
                                        <a ui-sref="searchjobs">
                                            <i class="pe pe-7s-portfolio text-info"></i>
                                            <h5>Find Jobs</h5>
                                        </a>
                                    </div>
                                    <div class="col-sm-4">
                                            <a ui-sref="resumes">
                                                <i class="pe pe-7s-file text-success"></i>
                                                <h5>Resumes</h5>
                                            </a>
                                    </div>
                            </div>
                            <div class="row" ng-show="isAdministrator">
                                    <div class="col-sm-4">
                                        <a ui-sref="dashboard">
                                            <i class="pe pe-7s-home text-warning"></i>
                                            <h5>Dashboard</h5>
                                        </a>
                                    </div>
                                    <div class="col-sm-4">
                                        <a ui-sref="jobslist">
                                            <i class="pe pe-7s-portfolio text-info"></i>
                                            <h5>Jobs</h5>
                                        </a>
                                    </div>
                                    <div class="col-sm-4">
                                        <a  ui-sref="searchresumeshome">
                                            <i class="pe pe-7s-file text-success"></i>
                                            <h5>Resumes</h5>
                                        </a>
                                </div>
                            </div>
                            <div class="row" ng-show="isAdministrator">
                                    <div class="col-sm-4">
                                        <a ui-sref="screenings">
                                            <i class="pe pe-7s-light text-danger"></i>
                                            <h5>Screening</h5>
                                        </a>
                                    </div>
                                    <div class="col-sm-4">
                                        <a ui-sref="referrals">
                                            <i class="pe pe-7s-users text-warning"></i>
                                            <h5>References</h5>
                                        </a>
                                    </div>
                                    <div class="col-sm-4">
                                        <a ui-sref="interviews">
                                            <i class="icon-inerview"></i>
                                            <h5>Interview</h5>
                                        </a>
                                    </div>
                                </div>
                        </div>
                    </li>

                    <li ng-show="isAuth" >
                        <a ui-sref="logout"   class="right-button"  >
                            <i class="pe-7s-upload pe-rotate-90"></i>
                        </a>
                    </li>

                    <li ng-hide="isAuth">
                        <a ui-sref="login"   class="right-button"  >
                            <i class="pe-7s-upload pe-rotate-270"></i>
                        </a>
                    </li>

            </ul>

        </ul><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
