<!-- Header -->
<div id="header" ng-include="'views/head.html'"></div>
<div class="container">
<link rel="stylesheet" href="libs/jquery-ui/themes/overcast/jquery-ui.min.css" />
<div ng-controller="AddjobformController">

    <!-- Main Wrapper -->
    <div id="wrapper" style="margin:0; ">


        <form name="userForm" ng-submit="saveChanges(userForm.$valid)" novalidate>
        <br />
            <div class="row">
                <div class="col-sm-2 col-sm-offset-8">
                    <button ng-hide="id == ''" data-ng-click="removechanges()" class="btn btn-danger btn-block btn-md">Delete Job</button>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-primary  btn-block btn-md" type="submit">Save Changes</button>
                </div>
            </div>
        <!--<div style="margin:0 auto; width:95%;">-->
            <!--<div class="col-md-8">-->
            <!--</div>-->
            <!--<div class="col-md-2">-->
                <!--<div class="clear">-->
                    <!--<br />-->
                <!--</div>-->
                <!--<button ng-hide="id == ''" data-ng-click="removechanges()" class=" btn btn-danger btn-md pull-right">Delete Job</button>-->
            <!--</div>-->
            <!--<div class="col-md-2">-->
                <!--<div class="clear">-->
                    <!--<br />-->
                    <!--<button style="margin:0 -25px 0 0;" class="btn btn-primary btn-md pull-right" type="submit">Save Changes</button>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-1">-->
                <!--<br />&nbsp;-->
            <!--</div>-->
        <!--</div>-->


            <div style="height:25px;clear:both;">
            &nbsp;<br>
        </div>
        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="box-header">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <a data-ng-click="toggleEdit('jobTitleLocationEditable')" ng-show="!jobTitleLocationEditable"> <i class="fa fa-edit fa-lg pull-right"></i></a>
                                                        <h3>
                                                            <div name="jobTitleLocationResultContent" ng-model="jobTitleLocationResultContent" ng-bind-html="jobTitleLocationContent" strip-br="true" contenteditable="{{jobTitleLocationEditable}}" required></div>
                                                        </h3>
                                                        <span ng-show="userForm.jobTitleLocationResultContent.$error.required">Title is required.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr style="background-color: #C69373; height: 3px;" />
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <div class="box-description">
                                                <h3>JOB DESCRIPTION</h3>
                                                <div ng-show="jobDescriptionContentEditable" text-angular ng-model="jobDescriptionResultContent" required name="demo-editor" ta-text-editor-class="border-around" ta-html-editor-class="border-around"></div>
                                                <a ng-hide="jobDescriptionContentEditable" data-ng-click="toggleEdit('jobDescriptionContentEditable')"> <i class="fa fa-edit fa-lg pull-right"></i></a>
                                                <div ng-hide="jobDescriptionContentEditable" name="jobDescriptionResultContent" ng-model="jobDescriptionResultContent" ng-bind-html="jobDescriptionContent" strip-br="true" contenteditable="{{jobDescriptionContentEditable}}" required></div>
                                                <span class="color-theme" ng-show="userForm.jobDescriptionResultContent.$error.required">JOB DESCRIPTION is required.</span>
                                            </div>
                                            <div class="box-description">
                                                <h3>JOB REQUIREMENTS</h3>
                                                <div ng-show="jobRequirementsContentEditable" text-angular ng-model="jobRequirementsResultContent" name="demo-editor1" ta-text-editor-class="border-around" ta-html-editor-class="border-around"></div>
                                                <a ng-hide="jobRequirementsContentEditable"  data-ng-click="toggleEdit('jobRequirementsContentEditable')"> <i class="fa fa-edit fa-lg pull-right"></i> </a>
                                                <div ng-hide="jobRequirementsContentEditable" name="jobRequirementsResultContent" ng-model="jobRequirementsResultContent" ng-bind-html="jobRequirementsContent" strip-br="true" contenteditable="{{jobRequirementsContentEditable}}" required></div>
                                                <span class="color-theme" ng-show="userForm.jobRequirementsResultContent.$error.required">JOB REQUIREMENTS is required.</span>
                                            </div>
                                            <div class="box-description">
                                                <h3>ABOUT US</h3>
                                                <div ng-show="aboutUsEditable" text-angular ng-model="aboutUsResultContent" name="demo-editor2" ta-text-editor-class="border-around" ta-html-editor-class="border-around"></div>
                                                <a ng-hide="aboutUsEditable"  data-ng-click="toggleEdit('aboutUsEditable')"> <i class="fa fa-edit fa-lg pull-right"></i></a>
                                                <div ng-hide="aboutUsEditable" name="aboutUsResultContent" ng-model="aboutUsResultContent" ng-bind-html="aboutUsContent" strip-br="true" contenteditable="{{aboutUsEditable}}" required></div>
                                                <span class="color-theme" ng-show="userForm.aboutUsResultContent.$error.required">ABOUT US is required.</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="box-description">
                                                <form role="form">
                                                    <div class="form-group">
                                                        <label for="Category">Category</label>
                                                        <select ng-model="categoryID" class="form-control" id="Category" name="Category" required>
                                                            <option value="">Select Category</option>
                                                            <option ng-repeat="category in categories" ng-selected="category.id==categoryID" value="{{category.id}}">{{category.name}}</option>
                                                        </select>
                                                        <span class="color-theme" ng-show="userForm.Category.$error.required">Category is required.</span>
                                                        <br>
                                                        <label for="locationCity">Location</label>
                                                        <input type="text" class="form-control"  ng-model="locationState"  ui-autocomplete="locationStateOption" placeholder="State abbreviation"  />
                                                        <input type="text" class="form-control"  ng-model="locationCity" id="locationCity" ui-autocomplete="locationCityOption" placeholder="City" ng-if="locationState.id"  />
                                                        <span class="color-theme" ng-show="!locationCity.id">Location is required.</span>
                                                        <br>
                                                        <label for="tags">Tags</label>
                                                        <input class="form-control" style="width:70%;float:right;" ng-model="tag" id="tags" type="text"  ng-enter="addtags()"><a href="" ng-click="addtags()"<span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                                                        <br>
                                                        <br>

                                                        <ul class="list-group">
                                                            <li class="list-group-item" ng-repeat="tagname in tags">{{ tagname }}<a style="float:right;" href="" ng-click="removetag($index)"  ><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a></li>
                                                         </ul>



                                                    </div>
                                                </form>
                                            </div>
                                            <div class="box-description">
                                                <h3>JOB SNAPSHOT</h3>
                                                <p>
                                                    <i class="fa fa-clock-o"></i> Employee Type
                                                    <br>
                                                        <span class="color-theme">
                                                    <select
                                                            id="employeeType"
                                                            name="employeeType"
                                                            ng-model="employeeType"
                                                            required
                                                            class="form-control"
                                                    >
                                                        <option value="">Select Employee Type</option>
                                                        <option ng-repeat="_employeeType in EmployeeTypes" ng-selected="_employeeType.value==employeeType" value="{{_employeeType.value}}">{{_employeeType.name}}</option>
                                                    </select>
                                                    <span ng-show="userForm.employeeType.$error.required">EmployeeType is required.</span>


                                                </span>
                                                </p>
                                                <p>
                                                    <i class="fa fa-map-marker"></i> Location:
                                                    <br>
                                                    <span class="color-theme">{{ locationCity.name }}</span>
                                                </p>
                                                <p>
                                                    <i class="fa fa-suitcase"></i> Experience
                                                    <br>
                                                    <span class="color-theme">
                                                        <input type="text" id="experience" name="experience" required ng-model="experience">
                                                        <br />
                                                        <span ng-show="userForm.experience.$error.required">Experience is required.</span>
                                                    </span>
                                                </p>
                                                <p>
                                                    <i class="fa fa-calendar"></i> Date Posted
                                                    <br>
                                                    <span class="color-theme">{{ posteddate*1000 | date : "M/d/yyyy" }}</span>
                                                </p>
                                            </div>
                                            <div class="box-description">
                                                <b>Share With</b>
                                                <br>
                                                <g:plusone></g:plusone>
                                                <a class="twitter-share-button" href="https://twitter.com/intent/tweet">Tweet</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="clear:both;">
                            <br />
                            <br />
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </form>
    </div>
</div>
</div>
