<div class="color-line"></div>
<style type="text/css">
    body {
        background-color: #ffffff !important;
    }
</style>

<!--<script type="text/javascript" src="//platform.linkedin.com/in.js">-->
    <!--api_key: 77q1g8nbpf35zl-->
    <!--authorize: true-->
    <!--onLoad: onLinkedInLoad-->
    <!--scope: r_basicprofile r_emailaddress-->
<!--</script>-->
<script type="text/javascript">

//    function onLinkedInLoad() {
//        IN.Event.on(IN, "auth", onLinkedInAuth);
//    }
//    function onLinkedInAuth() {
//        IN.API.Profile("me")
//        .fields("firstName", "lastName", "industry", "location:(name)", "picture-url", "headline", "summary", "num-connections", "public-profile-url", "distance", "positions", "email-address", "educations", "date-of-birth")
//        .result(displayProfiles)
//        .error(displayProfilesErrors);
//    }

    function displayProfiles(profiles) {
        member = profiles.values[0];
        $('#txtfirstname').val(member.firstName)
        $('#txtlastname').val(member.lastName)
        $('#txtEmail').val(member.emailAddress)
        $('#txtcemail').val(member.emailAddress)
    }
    function displayProfilesErrors(error) {
        profilesDiv = document.getElementById("profiles");
        profilesDiv.innerHTML = error.message;
        console.log(error);
    }

</script>


<!--<script type="text/javascript">-->



    <!--var googleUser = {};-->
    <!--var startApp = function () {-->
        <!--gapi.load('auth2', function () {-->
            <!--// Retrieve the singleton for the GoogleAuth library and set up the client.-->
            <!--auth2 = gapi.auth2.init({-->
                <!--client_id: '593946543327-rtpt1uoktelggfa6t4he1l37mkhse4lg.apps.googleusercontent.com',-->
                <!--cookiepolicy: 'single_host_origin',-->
                <!--// Request scopes in addition to 'profile' and 'email'-->
                <!--//scope: 'additional_scope'-->
            <!--});-->
            <!--attachSignin(document.getElementById('customBtn'));-->
        <!--});-->
    <!--};-->

    <!--function attachSignin(element) {-->
        <!--console.log(element.id);-->
        <!--auth2.attachClickHandler(element, {},-->
            <!--function (googleUser) {-->
                <!--$('#txtfirstname').val(googleUser.getBasicProfile().Ph);-->
                <!--$('#txtlastname').val(googleUser.getBasicProfile().hg);-->
                <!--$('#txtEmail').val(googleUser.getBasicProfile().getEmail());-->
                <!--$('#txtcemail').val(googleUser.getBasicProfile().getEmail());-->

            <!--}, function (error) {-->
                <!--alert(JSON.stringify(error, undefined, 2));-->
            <!--});-->
    <!--}-->

    <!--startApp();-->


<!--</script>-->

<script type="text/javascript">
    var IsAllFieldsValidated = true;
    var vIsEmployer = false;



</script>





    <div class="register-container blank" ng-controller="Registration">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center m-b-md">
                    <h3>Registration</h3>
                    <small>Full suported AngularJS WebApp/Admin template with very clean and aesthetic style prepared for your next app. </small>
                </div>
                <div class="hpanel">
                    <div class="panel-body">
                        <div id="loginForm">
                            <div class="row">
                                <div class="form-group col-lg-12">
                                    <label id="lblusername">Username</label>
                                    <input type="text" value="" id="txtusername" class="form-control" name="" onblur="IsEmptyField(this)" ng-model="username">
                                    <span id="lbl_username" style="color:#f00;"></span>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label id="lblfirstname">First Name</label>
                                    <input type="text" value="" id="txtfirstname" class="form-control" name="" onblur="IsEmptyField(this)" ng-model="firstname">
                                    <span id="lbl_firstname" style="color:#f00;"></span>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label id="lbllastname">Last Name</label>
                                    <input type="text" value="" id="txtlastname" class="form-control" name="" onblur="IsEmptyField(this)" ng-model="lastname">
                                    <span id="lbl_lastname" style="color:#f00;"></span>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label id="lblEmail">Email Address</label>
                                    <input type="text" value="" id="txtEmail" class="form-control" name="" onblur="IsEmptyField(this); CompareFields('txtEmail', 'txtcemail')" ng-model="email">
                                    <span id="lbl_Email" style="color:#f00;"></span>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label id="lblcemail">Repeat Email Address</label>
                                    <input type="text" value="" id="txtcemail" class="form-control" name="" onblur="IsEmptyField(this)">
                                    <span id="lbl_cemail" style="color:#f00;"></span>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label id="lblpassword">Password</label>
                                    <input type="password" value="" id="txtpassword" class="form-control" name="" onblur="IsEmptyField(this)" ng-model="password">
                                    <span id="lbl_password" style="color:#f00;"></span>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label id="lblcpassword">Repeat Password</label>
                                    <input type="password" value="" id="txtcpassword" class="form-control" name="" onblur="IsEmptyField(this); CompareFields('txtpassword', 'txtcpassword')">
                                    <span id="lbl_cpassword" style="color:#f00;"></span>
                                </div>
                                <div class="checkbox col-lg-12">
                                    <input type="checkbox" class="i-checks" id="IsEmployer"> Also add jobs
                                </div>
                                <div class="checkbox col-lg-12">
                                    <span style="color:#f00; " id="lblMessage">{{error_Description}}</span>
                                    <span style="color:#f00; " >{{error_Description}}</span>
                                </div>
                            </div>
                            <div class="text-center">

                                <button class="btn btn-success" id="cmd_Register" ng-click="Register()">Register</button><a style="width:100px;" class="btn btn-default btn-block" href="#/login">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <strong>HOMER</strong> - AngularJS Responsive WebApp
                <br /> 2015 Copyright Company Name
            </div>
        </div>
    </div>

