<div class="color-line"></div>
<div class="login-container blank"  ng-controller="ResetPasswordController" >

    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>RESET PASSWORD</h3>
                <small></small>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    <div id="loginForm">


                        <div class="form-group">
                            <label class="control-label" for="username">Username</label>
                            <input type="text" placeholder="UserName" title="Please enter you username" required="" value="" name="username" id="username" ng-model="username" class="form-control">
                            <span class="help-block small">Your unique username to app</span>
                        </div>
                        <div class="checkbox" style="color:#f00; ">
                            {{error_Description}}
                        </div>
                        <div class="checkbox" style="color:green; ">
                            {{success_Description}}
                        </div>

                        <input type="button" class="btn btn-success btn-block" ng-click="ResetPassword()" value="Reset Password" />

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">

        </div>
    </div>
</div>