
<div ng-show="!referenceId">

    <div class="panel panel-success col-xs-3 small-panel small-panel-success" ng-repeat="reference in job.references| filter:{ isNew: true }">
        <div class="panel-body small-panel-body">
            <p>{{reference.name}}</p>
            <a class="btn btn-success btn-xs btn-footer"  ng-click="sendReferenceToFriends(reference)">Start</a>
        </div>
    </div>

    <div class="panel panel-info col-xs-3 small-panel small-panel-info" ng-repeat="reference in job.references | filter:{ isNew: false }">
        <div class="panel-body small-panel-body">
            <p>{{reference.name}}</p>
            <b>Taken</b>
        </div>
    </div>

    <p ng-show="(data.references).length == 0" class="col-xs-12">
        Not found Peer Reviews
    <p>

</div>

<div ng-show="referenceId">
    <form name="sendForm" ng-submit="onSave(sendForm.$valid)" novalidate>





            <div class="row">
                <div class="form-group col-xs-12" style="margin: 0;">
                    You have provided {{friendsCount}} of 2 peer review requests
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-12" style="padding: 0;margin: 0;">

                    <div ng-repeat="emailObject in emailObjects track by $index">

                        <div class="row">
                            <div class="form-group col-xs-6" style="padding: 1px; margin: 0;">
                                <input type="text" ng-model="emailObject.firstName" name="firstName_{{$index}}" id="firstName_{{$index}}" placeholder="First Name" class="form-control" required />
                                <!--<span class="color-theme" ng-show="sendForm.firstName_{{$index}}.$error.required">First Name is required.</span>-->
                            </div>

                            <div class="form-group col-xs-6" style="padding: 1px; margin: 0;">
                                <input type="text" ng-model="emailObject.lastName" placeholder="Last Name" name="lastName_{{$index}}" id="lastName_{{$index}}" class="form-control" required />
                                <!--<span class="color-theme" ng-show="sendForm.lastName_{{$index}}.$error.required">Last Name is required.</span>-->
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-xs-6" style="padding: 1px; margin: 0;">
                                <input type="email" ng-model="emailObject.email" placeholder="E-mail" name="email_{{$index}}" id="email_{{$index}}" class="form-control" required />
                                <!--<span class="color-theme" ng-show="sendForm.email_{{$index}}.$error.required">Email is required.</span>-->
                                <!--<span class="color-theme" ng-show="sendForm.email_{{$index}}.$error.email">Not valid email!</span>-->
                            </div>
                            <div class="form-group col-xs-6" style="padding: 1px; margin: 0;">
                                <select
                                        id="workingRelationshipType_{{$index}}"
                                        name="workingRelationshipType_{{$index}}"
                                        ng-model="emailObject.workingRelationshipType"
                                        required
                                        class="form-control"
                                >
                                    <option value="">Working Relationship Type</option>
                                    <option ng-repeat="_workingRelationshipType in WorkingRelationshipTypes" ng-selected="_workingRelationshipType.value==emailObject.workingRelationshipType" value="{{_workingRelationshipType.value}}">{{_workingRelationshipType.name}}</option>
                                </select>
                                <!--<span class="color-theme" ng-show="sendForm.workingRelationshipType_{{$index}}.$error.required">WorkingRelationshipType is required.</span>-->
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-xs-6" style="padding: 1px; margin: 0;">
                                <select id="years_{{$index}}"
                                        name="years_{{$index}}"
                                        ng-model="emailObject.years"
                                        required
                                        class="form-control"
                                        ng-options="c for c in yearsList">
                                    <option value=""># of years Known</option>
                                </select>
                                <!--<span class="color-theme" ng-show="sendForm.years_{{$index}}.$error.required">Number of years Worked Together is required.</span>-->
                            </div>
                            <div class="form-group col-xs-6" style="padding: 1px; margin: 0;">
                                <input type="text" ng-model="emailObject.personTitle" placeholder="Current Title" name="personTitle_{{$index}}" id="personTitle_{{$index}}" class="form-control" required />
                                <!--<span class="color-theme" ng-show="sendForm.personTitle_{{$index}}.$error.required">Person's Title is required.</span>-->
                            </div>
                        </div>

                    </div>

                </div>


            </div>

            <div class="row">
                <div class="form-group  col-xs-6 "  style="padding: 3px;">
                    <div class="alert alert-danger" style="display:inline-block;padding: 5px;" role="alert" ng-hide='!message'>{{message}}</div>
                    <div class="alert alert-success" style="display:inline-block;padding: 5px;" role="alert" ng-hide='!successMessage'>{{successMessage}}</div>
                </div>
                <div class="form-group  col-xs-2 "  style="padding: 3px;">
                    <button type="button" ng-click="$parent.referenceId=''" class="btn btn-primary btn-sm btn-block">Back</button>
                </div>
                <div class="form-group col-xs-4"  style="padding: 3px;">
                    <button type="submit" class="btn btn-success btn-sm btn-block" ng-disabled="friendsCount>=2">Send</button>
                </div>
            </div>






    </form>
</div>


