<div class="inmodal">
    <div class="color-line"></div>
    <div class="modal-header">

        <div style="position:absolute; right: 30px; top: 10px;">
            <a ng-click="onClose()" ><span class="glyphicon close-icon hoverClick" style="font-size: 30px; color: red;">×</span></a>
        </div>

        <div class="pull-left">
            {{resume.firstName}} {{resume.lastName}}
        </div>

        <div class="pull-right">
            {{job.title}}
        </div>

    </div>
    <div class="modal-body">

        <div class="alert alert-success" role="alert" ng-show="successMessage">Successfully notified!</div>

        <div class="alert alert-danger" role="alert" ng-show="errorMessage">Error occured</div>

        <div class="row">
            <div class="col-md-4">
                <label>Screenings Taken</label>
                <select multiple disabled id="screeningsTaken" name="screeningsTaken" ng-model="screeningsTaken" class="form-control" >
                    <option ng-repeat="screening in screeningsTaken" value="{{screening.id}}">{{screening.title}}</option>
                </select>
            </div>
            <div class="col-md-4">
                <label>Screenings To Take</label>
                <select multiple id="screeningsToTake" name="screeningsToTake" ng-model="screeningsToTakeSelected" class="form-control" required >
                    <option ng-repeat="screening in screeningsToTake" value="{{screening.id}}">{{screening.title}}</option>
                </select>
            </div>
            <div class="col-md-4">
                <label>All Screenings</label>
                <select multiple disabled id="screeningsAll" name="screeningsAll" ng-model="screeningsAll" class="form-control" >
                    <option ng-repeat="screening in screeningsAll" value="{{screening.id}}">{{screening.title}}</option>
                </select>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <div class="text-right m-t-xs">
            <button ng-click="notify()" class="btn btn-success" ng-disabled="screeningsToTakeSelected.length == 0">Notify Candidate</button>
            <button ng-click="onClose()" class="btn btn-primary">Close</button>
        </div>
    </div>

</div>
