<div>
    <h3>Go To Working Page Below</h3>
    <br>
    <br>
    <ul class="list-group mailbox-list">
        <li class="list-group-item"><a ui-sref="searchjobs">search jobs View</a></li>
        <li class="list-group-item"><a ui-sref="viewjobdetails">viewjobdetails View</a></li>
        <li class="list-group-item"><a ui-sref="login">login View</a></li>
        <li class="list-group-item"><a ui-sref="register">Register View</a></li>
        <li class="list-group-item"><a ui-sref="dashboard">dashboard View</a></li>
        <li class="list-group-item"><a ui-sref="jobslist">jobslist View</a></li>
        <li class="list-group-item"><a ui-sref="jobmanagement">jobmanagement View</a></li>
        <li class="list-group-item"><a href="views/GmailIntegration.html">GmailIntegration View</a></li>
        <li class="list-group-item"><a href="views/LinkedIn.html">LinkedIn View</a></li>
    </ul>
</div>
