<div class="container" ng-controller="FinishTraitifyController">
    <div class="container">
        <div class="container" ng-include="'views/head.html'"></div>
        <div class="row-fluid vertical-align" style="margin-top: 20px;">
            <div class="col-xs-12 col-sm-9 col-centered">

                <div class="panel panel-custom">

                    <div class="panel-body">
                        <p style="color: red; text-align: center;">
                            Thank you!!


                        </p>
                        <br />
                        <p style="color: red; text-align: center;">Once we score we will update your dashboard

                        </p>
                        <button class="btn btn-primary btn-lg pull-right" type="button" ng-click="close()">
                            Close
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>