<div class="container" ng-include="'views/head.html'"></div>
<div class="container" ng-controller="StartTraitifyController">

        <div class="row-fluid vertical-align" style="margin-top: 20px;">
            <div class="col-xs-12 col-sm-6 col-centered">

                <div class="panel panel-custom">

                    <div class="panel-body">
                        <div class="alert alert-danger" role="alert" ng-show="error_message">{{error_message}}</div>

                        <p style="text-align: center;">
                            Thank you for taking the time to complete the personality profiling – our client is very interested in learning more about you.  This survey has {{traitify.slidesCount}}

                        </p>
                        <br />

                        <button class="btn btn-primary btn-lg pull-right" type="button" ng-click="start()" ng-disabled="traitify.isFinish || traitify.slidesCount ==0">
                            Start
                        </button>
                    </div>
                </div>

            </div>
        </div>

</div>